* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

/* HEADER ----------------------------*/
#header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#header img {
  width: 90%;
}

#headerLinks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: black;
  color: white;
  padding: 1%;
}

#headerLinks a {
  color: white;
}

/* RECIPE TAGS -----------------------*/

#tags {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.rTag {
  width: auto;
  margin: 1%;
  padding: 1%;
}

/* HOME ------------------------------*/
#latestRecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* COOKBOOK ---------------------------*/
#cbRecipesTitle {
  width: 100%;
}

#cookbookRecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* RECIPE THUMBNAIL ------------------*/

.recipeThumbnail {
  width: 90%;
  border: solid 1px black;
  margin: 2%;
  box-shadow: 2px 2px 2px rgba(171, 171, 171,1);
}

.recipeThumbnail img {
  width: 100%;
}

.recipeThumbnail figcaption {
  color: #000;
}

/* RECIPE ------------------*/


.recipeMainImage {
  width: 100%;
}

.strong {
  font-weight: bolder;
}

.recipeIngredients li {
  text-align: left;
  padding: 0 2%;
}

.recipeDirections li {
  text-align: left;
  padding: 0 2%;
}


@media only screen and (min-width: 768px) {
  .recipeThumbnail {
    width: 28%;
    border: solid 1px black;
    margin: 2%;
    box-shadow: 2px 2px 2px rgba(171, 171, 171,1);
  }

  .recipeContain {
    width: 70%;
    margin: 2% auto;
    border: solid black 1px;
    padding: 1%;
    box-shadow: 2px 2px 5px grey;

  }

  .recipeMainImage {
    width: 75%;
  }

}

@media only screen and (min-width: 900px) {
  .recipeThumbnail {
    width: 20%;
  }

  .recipeContain {
    width: 50%;
    margin: 0 auto;
  }

}

/* JSON Helper ------------------------ */
#jHelp {
  text-align: left;
}

#jHelp ul {
  columns: 2;
}

.in {
  width: 90%;
  border: solid red 1px;
}

.in input {
  width: 80%;
}

#jHelp textArea {
  width: 100%;
  height: 400px;
}